<div class="row ng-scope" ng-controller="projectCtrl">
  <div class="col-lg-12">
    <div id="content-header" class="clearfix">
      <div class="pull-left">
        <ol class="breadcrumb">
          <li><a ui-sref="app.home">Home</a></li>
          <li class="active"><span>Computers</span></li>
        </ol>
        <h1>Computers</h1>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="main-box">
      <p>Filter: <input class="form-control" type="text" ng-model="filter.$" /></p>
      <table ng-table="projectTable" class="table ng-table-responsive" >
        <tr ng-repeat="p in $data" ng-click="getComputer(p)">
          <td data-title="'Id'" >{{p.idProject}}</td>
          <td data-title="'Name'" >{{p.name}}</td>
          <td data-title="'Status'" >{{p.status}}</td>
          <td data-title="'Archived'" >{{p.archived}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

