<div class="ng-scope" ng-controller="mainCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div id="content-header" class="clearfix">
        <div class="pull-left">
          <ol class="breadcrumb">
            <li><a ui-sref="app.home">Home</a></li>
            <li class="active"><span>Dashboard</span></li>
          </ol>
          <h1>DashBoard</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="main-box clearfix">
        <header class="main-box-header clearfix"><h2 class="pull-left">List Stat</h2></header>
        <div class="main-box-body clearfix">
          <table datatable="ng" dt-options="mainCtrl.dtOptions" class="row-border hover" >
            <thead>
            <tr>
              <th>Project</th>
              <th>User</th>
              <th>Computer</th>
              <th>Date</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in statistics">
              <td ng-bind="s.project.name" ></td>
              <td ng-bind="s.user.name" ></td>
              <td ng-bind="s.computer.name"></td>
              <td ng-bind="transformDate(s.date)" ></td>
              <td ng-bind="s.value"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
