<div class="row ng-scope" ng-controller="projectCtrl">
  <div class="col-lg-12">
    <div id="content-header" class="clearfix">
      <div class="pull-left">
        <ol class="breadcrumb">
          <li><a ui-sref="app.home">Home</a></li>
          <li class="active"><span>Projects</span></li>
        </ol>
        <h1>Projects</h1>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="main-box">
      <table datatable="ng" dt-options="projectCtrl.dtOptions" class="row-border hover" >
        <thead>
          <tr>
            <th ng-hide="true">ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Archived</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in projects track by $index" ng-class="{rowActive : $index == selectedRow}" ng-click="getProject(p, $index)">
            <td ng-hide="true" >{{$index}}</td>
            <td ng-bind="p.name" ></td>
            <td ng-bind="p.status" ></td>
            <td ng-bind="p.archived" ></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 col-sm-6 col-xs-12 col-lg-offset-1" ng-if="rowDetail">
      <div class="main-box infographic-box colored green-bg green-box-text">
        <p class="text-center">Informations Generales</p>
        <ul class="list-unstyled">
          <li><span>Id :</span><span class="response-data">{{rowDetail.idProject}}</span></li>
          <li><span>Nom :</span><span class="response-data">{{rowDetail.name}}</span></li>
          <li><span>Status :</span><span class="response-data">{{rowDetail.status}}</span></li>
          <li><span>Archived :</span><span class="response-data">{{rowDetail.archived}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

